*{
    margin: 0;
    padding: 0;
}

.bg00{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.bg01{background-image: url(img/bg01.png);}
.bg02{background-image: url(img/bg02.png);}
.bg03{background-image: url(img/bg03.png);}
.bg04{background-image: url(img/bg04.png);}